     html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,hr,table,caption,th,td,form,fieldset,legend,input,button,textarea{margin:0;padding:0;}
		table{border-collapse:collapse;border-spacing:0;}
		caption,th{text-align:left;font-weight:normal;}
		html,body,fieldset,img{border:0;}
		i,em{font-style:normal;}
		li{list-style:none;}
		textarea{overflow:auto;resize:none;}
		a,button{cursor:pointer;}
		h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
		del,a,a:hover{text-decoration:none;color:#555;}
		body,textarea,input,button,select,legend{font:12px/1.14 "微软雅黑",arial;color:#555;outline:0;}
		body{background:#fff;}
		img{display:block;}
		.clearfix{zoom:1;}
		.clearfix:after{display:block;content:"";clear:both;height: 0;visibility: hidden;overflow: hidden;}
	.warp{
	    width:1000px;

		margin:0 auto;
		position:relative;
	}
	.inners{
	   position:relative;
	   width:1000px;
	   height:38px;
	   background-color:#fff;
	 }
	 .inners .small{
	   width:108px;
	   height:18px;
	   position:absolute;
	   left:498px;
	   top:7px;
	 }
	 .inners .small span{
	     font-size:12px;
		 display:block;
	 }
	 .dense{
		 position: absolute;
         left: 84px;
	 }
	 .inners .small .jmps{
	    width:293px;
		height:28px;
		background-color:#fff;
		position:absolute;
		left:114px;
		top:0px;
		}
	 .inners .small .jmps .title_yes{
		 background:url(../imgs/top.png) no-repeat;
		 background-position: -100px -42px;
		 padding: 0 0 2px 19px;
		 *padding-top: 2px;
		 _padding-top: 0;
		 height: 23px;
	 }
	 .inners .small .jmps .title_no{
		 background:url(../imgs/icone.png) no-repeat;
		 float: left;
		 width: 11px;
		 height: 16px;
		 background-position: 0 0;
		 margin: -1px 3px 0 0px;
	 }
	 .inners .small .jmps .pues{
		 border:none;
	 }
	 .inners .small .jmps .pues .djcode{
		 background:url(../imgs/djfsc.png) no-repeat;
		 background-position: 0 0;
		 width: 133px;
		 height: 133px;
		 position: absolute;
		 top: 20px;
		 left: 215px;
		 z-index: 2;
		 display: none;
	 }
	 .inners .small .jmps ul{
	    list-style:none;
	 }
	 .inners .small .jmps ul li{
	     float:left;
		 border-right:1px dashed #333;
		 padding:0px 9px;
	 }	
	 .inners .small .jmps ul li a{
	     font-size:12px;
		 color:#333;
	 }
	 .inners .small .jmps ul li a:hover{
	     color:blue;
	 }
	 .inners .deak{
	     width:113px;
		 height:28px;
		 position:absolute;
		 right:0px;
		 top:6px;
		 background-color:#fff;
		 background:url(../imgs/top.png) no-repeat;
		 background-position:13px -55px;
		 cursor:pointer;
	 }
	 .inners .tops{
	     position:absolute;
		 left:16px;
		 top:7px;
	 }
	 .heard{
	     width:1000px;
		 height:50px;
		 background-color:#fff;
	 }
	 .phone{
	     width:1000px;
		 height:70px;
	 }
	 .heard .manp{
	    padding-top:6px;
		float:right;
		list-style:none;
	 }
	 .heard .manp li{
	   margin:0 0 0 10px;
	   float:left;
	 }
	 .heard .manp .textInt{
	    display:block;
		width:190px;
		height:20px;
		line-height:20px;
		margin-top:1px;
		color:#aaa8a8;
		text-indent:5px;
		vertical-align:middle;
	 }
	 .heard .textLoft{
	    display:block;
		width:80px;
		height:22px;
		background-color:#c33;
		background:url(../imgs/commens.png) no-repeat;
        background-position:-83px 0;		
	 }
	 .small a:hover{
	    color:#c33;
	 }
	 .heard .manp .textInt:hover{
	    color:#000;
	 }
	 .hide{
	    width:0;
		height:0;
		text-indent:-9999px;
		display:none;
		z-index:10;
		-overflow:hidden;
	 }
	 .inner_box{
	    width:214px;
		height:39px;
		background-color:#c33;
		margin-top:13px;
		background:url(../imgs/comm_bgs.png) no-repeat;
		font-family: "Microsoft YaHei";
	 }
	 .inner_box .items_tom{
	    width:100%;
		height:39px;
		display:block;
		line-height:39px;
		color:#fff;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position:-340px -181px;
		cursor:pointer;
	 }
	 .inner_box .items_tom em{
	    font-size: 14px;
		font-weight: bold;
		float: left;
		padding-left: 10px;
		font-style:normal;
	 }
	 .daoHa_tr{
	    width:786px;
		height:39px;
		float:right;
		background-repeat:repeat-x;
		background-color:#333;
		margin-top:-39px;
		background:url(../imgs/comm_bgs.png) no-repeat;
		font-family: "Microsoft YaHei";
	 }
	 .daoHa_tr .daoHa_td{
	    float:left;
		list-style:none;
	 }
	 .daoHa_tr .daoHa_td li{
	    position:relative;
		float: left;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		background-position: right -70px;
	 }
	 .daoHa_tr .daoHa_td li a{
	    height: 39px;
		width: 96px;
		float: left;
		color:#fef4f4;
		line-height:39px;
		text-decoration:none;
	 }
	 .daoHa_tr .daoHa_td li a:hover{
	    height:39px;
		background:url(../imgs/comm_bgs.png) no-repeat;
		font-family: "Microsoft YaHei";
		background-position:-570px -181px;
	 }
	 .daoHa_tr .daoHa_td .daoHa_line{
	    display: inline-block;
		width: 2px;
		height: 39px;
		float: left;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position: -561px -181px;
	 }
	 .daoHa_tr .cookie_s{
	    margin-right: 0;
		font-size: 14px;
		width: 160px;
		height: 39px;
		line-height: 39px;
		float:right;
	 }
	 .daoHa_tr .cookie_s a{
	    background:url(../imgs/comm_bgs.png) no-repeat;
		background-position: 0px -244px;
	    padding:0 20px;
	    display: block;
		height: 39px;
		line-height: 39px;
		width: 120px;
	 }
	 .daoHa_tr .cookie_s a .ico_cookie{
	    white-space: nowrap;
		float:left;
		color:#fef4f4;
		width: 14px;
		height: 30px;
		display: block;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position: -210px -244px;
	 }
	 .daoHa_tr .cookie_s a ico_cookie{
		margin-right:6px;
	 }
	 .daoHa_tr .cookie_s a span{
	    white-space: nowrap;
		float:left;
		color:#fef4f4;
		width: 14px;
		height: 30px;
		display: block;
	 }
	 .daoHa_tr .cookie_s strong{
	    margin:0 3px;
		color:#ff3;
	 }
	 .deark_c{
	    background-color:#f6f6f6;
		border:1px solid #e3e3e3;
		width:202px;
		padding:16px 0px 8px 10px;
		margin:10px 0px 0px 0px;
	 }
	 .deark_c .unico_s .ico_unico{
	    background-position: 0 0;
		width: 158px;
		height: 50px;
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		background:url(../imgs/bx_login1.png) no-repeat;
	 }
	 .deark_c .unico_s .unico_p1{
	    color: #666;
		font-size: 12px;
		font-family: "Microsoft YaHei";
		font-weight: normal;
		line-height: 18px;
		height: 72px;
		display: block;
		overflow: hidden;
		margin: 10px 0 0 0;
	 }
	 .deark_c .unico_s .unico_d1{
	    margin-top: 40px;
        height: auto;
		position:relative;
		margin:42px 0 0 0;
	 }
	 .deark_c .unico_s .unico_d1 .props_title{
	    background:url(../imgs/bulletins.png) no-repeat;
	    width: 223px;
		height: 30px;
		position: absolute;
		top: -35px;
		left: -15px;
		font-family: "Microsoft Yahei","微软雅黑";
		color: #fff;
		line-height: 27px;
		margin-top: 4px;
		font-style:normal;
	 }
	 .deark_c .unico_s .unico_d1 .props_title em{
	    font-style:normal;
	 }
	 .deark_c .unico_s .unico_d1 .props_title a{
	    float: right;
		color: #fff;
		font-size: 10px;
		margin-right: 5px;
	 }
	 .deark_c .unico_s .unico_d1 .px_unico{
	    list-style-type: square;
		color: #eb1204;
		padding: 0 0 0 20px;
		line-height: 24px;
	 }
	 .deark_c .unico_s .unico_d1 .px_unico a{
	    font-size:12px;
		color:#656565;
	 }
	 .box{
	    margin-top: 10px;
		float: right;
		background-color: #eb1102;
		position: relative;
		z-index: 10;
		overflow: hidden;
		padding-top: 8px;
		font-family: "'Microsoft YaHei'";
		width:776px;
		height:294px;
	 }
	 .box .box_er{
	    overflow: hidden;
		width: 769px;
		height: 245px;
		position: relative;
		margin-left: 7px;
	 }
	 .imgs_arr_c{
	    height: 1500px;
        position: absolute;
		top:0;
		margin-top:-245px;
	 }
	 .box .img{
	    width: 762px;
		height: 245px;
		border: 0;
	 }
	 .c:after{
	    content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	 }
	 .font_se{
	    width:776px;
		height:49px;
		bottom:0;
		left:0;
		background-color:#333;
		background:url(../imgs/comm_bgs.png) no-repeat;
	 }
	 .font_se ul{
	    padding:0;
		list-style:none;
	 }
	 .font_se ul li{
	    float: left;
		width: 179px;
		height: 49px;
		border: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position:-31px -72px;
		display:block;
	 }
	 .font_se ul li a{
	    height: 49px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		display: table-cell;
		*display: block;
		vertical-align: middle;
		width: 179px;
		text-align: center;
	 }
	 .cover_left{
	    height: 49px;
		display: block;
		border: none;
		width:30px;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position: 0 -72px;
		float:left;
	 }
	 .cover_right{
	    height:49px;
		display:block;
		border:none;
		width:29px;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position: -754px -72px;
		float:left;
	 }
	 .font_se em{
	    font-family:'Microsoft YaHei';
		font-style:normal;
		font-size:14px;
	 }
	 /*.font_se ul li a:hover{
	    color:#ffff33;
		display: table-cell;
		*display: block;
		vertical-align: middle;
		width: 179px;
		_width: 178px;
		background:url(../imgs/comm_bgs.png) no-repeat;
		background-position:0 -122px;
	 }*/
	 .weak{
	    display:none;
		position:absolute;
		left:0px;
		top:210px;
		border:2px solid #c33;
	 }
	 .weak .weak_p{
	    position: relative;
		z-index: 22;
		width: 210px;
	 }
	 .weak .weak_p .ico_side{
	    height: 3px;
		width: 3px;
		display: block;
		position: absolute;
		top: 15px;
		left: 14px;
		z-index: 24;
		background:url(../imgs/comm_icos.png) no-repeat;
		background-position:-5px -1096px;
	 }
	 .weak h3{
	    padding-left:30px;
	 }
	 .weak .border_hide{
	    width: 177px;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		border-bottom: 1px dotted #bfbfbf;
		background-color:#fff;
	 }
	 .weak .border_hide:hover{
	    background-color:#66ffee;
	 }
	 .weak span h3{
	    font-weight: normal;
		display: block;
		width: 177px;
		height: 32px;
		line-height: 32px;
		position: relative;
		z-index: 23;
		font-family: "'Microsoft YaHei'";
		font-size:12px;
	 }
	 .weak span h3 a{
	    color: #000;
		display: block;
		width: auto;
		height: auto;
		text-decoration: none;
	 }
	 .ico_ext{
	    display: block;
		position: absolute;
		left: 184px;
		top: 12px;
		width: 6px;
		height: 9px;
		z-index: 24;
		background:url(../imgs/comm_icos.png) no-repeat;
		background-position: -6px -1115px;
		font-style:normal;
	 }
	 .theroe{
	    display: none;
		position: absolute;
		z-index: 22;
		left: 209px;
		top: -20px;
		width: 660px;
		background: #fff9ef;
		border: 1px solid #c30;
		height: auto;
		overflow: hidden;
		padding-bottom: 20px;
		background:url(../imgs/side_bgs.jpg) no-repeat;
		background-position:-10px 0px;
		background:#fff;
	 }
	 .theroe .theroe_first{
	    width: 385px;
		float: left;
		padding-left: 20px;
	 }
	 .theroe .theroe_first ul{
	    padding:0;
		list-style:none;
	 }
	 .theroe .theroe_first ul li{
	        float: left;
			width: 335px;
			margin-left: 5px;
			padding: 10px 10px 10px 40px;
			border-bottom: 1px dotted #bfbfbf;
			display: inline;
			position: relative;
			line-height: 2;
			white-space: nowrap;
	 }
	 .theroe .theroe_first ul li span{
	        display: block;
			float: left;
			color: #bbbbbb;
			border-right:1px solid #333;
			padding-right:12px;
			height:16px;
			margin-top:10px;
	 }
	 .theroe .theroe_first li a{
	        color: #535353;
			font-size: 12px;
			padding-left:14px;
			display:block;
			line-height:16px;
	 }
	 .theroe .theroe_first li a:hover{
	        color:#de1407;
	 }
	 .weak .weak_p:hover .theroe{
	        display:block;
	 }
	 .theroe_two{
	        width: 210px;
			float: right;
			display: block;
	 }
	 .theroe_two h4{
	        color: #de1407;
            padding: 15px;
			font-size:100%;
			font-family: "'Microsoft YaHei'";
	 }
	 .theroe_two ul{
	        padding:0;
			list-style:none;
	 }
	 .theroe_two ul li{
	        color: #de1407;
			list-style: square inside;
			font-size: 12px;
			margin-bottom: 5px;
	 }
	 .teas{
		    display:block;
			clear:both;
	 }
	 .box_01{
		 position:relative;
		 width:1000px;
		 
		
		 margin: 15px auto;
         padding: 10px 0;
	 }
	 .box_01_1{
		 float:left;
		 width:760px;
	 }
	 .clear{
		 display:block;
		 clear:both;
	 }
	 .title01{
		 height: 22px;
		 line-height: 22px;
		 border-bottom: 2px solid #b7b7b7;
		 position: relative;
		 background:url(../imgs/icons.png) no-repeat;
		 background-position:3px 9px;
		 padding-left:15px;
	 }
	 .title01 h2{
		 color: #1c1c1c;
		 font-size: 14px;
		 font-family: "Microsoft YaHei";
		 font-weight: bold;
		 text-align: left;
	 }
	 .title01 h2 span{
		 color: #a7a7a7;
		 font-size: 8px;
		 font-family: "Arial";
		 margin-left: 4px;
	 }
	 .title01_ul{
		 position: absolute;
		 left: 426px;
		 top: 0;
		 padding:0;
		 list-style:none;
	 }
	 .title01_ul li{
		 float:left;
	 }
	 .title01_ul li .item.active{
		 background: #db0d02;
		 border: 1px solid #ff3f33;
		 text-decoration: none;
		 color: #fff;
	 }
	 .title01_ul li a{
		 float: left;
		 background: #fff;
		 border: 1px solid #fff;
		 height: 18px;
		 line-height: 18px;
		 display: block;
		 overflow: hidden;
		 color: #474747;
		 padding: 0 8px;
		 text-align: center;
		 position: relative;
		 font-size:12px;
		 font-family:"'Microsoft YaHei'";
	 }
	 .title01_ul li a:hover{
		 background: #db0d02;
		 border: 1px solid #ff3f33;
		 text-decoration: none;
		 color: #fff;	 
	 }
	  .c:after{
		 content: ".";
		 display: block;
		 height: 0;
		 clear: both;
		 visibility: hidden;
		 list-style:none;
		 line-height:22px;
	 }
	 .cirler_items.active{
		 background:url(../imgs/comm_bgs.png) no-repeat;
		 background-position:0 -122px;
		 color:#ffff33;
	 }
	 .title01 .more{
		 background:url(../imgs/icons.png) no-repeat;
		 0px -9999px;
		 text-indent:-9999px;
         overflow: hidden;
		 width: 15px;
		 height: 15px;
		 display: block;
		 position: absolute;
		 top: 5px;
		 background-position:-50px -565px;
		 right:0;
		 width:31px;
	 }
	 .product_list .box_list{
		 display:block;
		 position:relative;
		 z-index:10;
		 margin:0;
	 }
	 .product_list .box_list .hidetips{
		 background-color:#fff;
	 }
     .product_list .box_list .showtips{
		 background-color:#d00e04;
		 border:1px solid #fcb6b3;
	 }
	 .product_list .box_list dl{
		 zoom: 1;
		 float: left;
		 width: 230px;
		 height: 80px;
		 display: block;
		 overflow: hidden;
		 padding: 10px;
		 margin: 10px auto;
		 border: 1px solid #fff;
		 _display: inline;
		 position: relative;
		 overflow:visible;
	 }
	 .product_list .box_list dl dt{
		 float: left;
		 width: 76px;
		 height: 76px;
		 display: block;
		 border: 2px solid rgb(230, 230, 230);
		 position: relative;
		 overflow: visible;
	 }
	 .product_list .box_list .hidetips strong{
		 color: #505050;
		 width: 140px;
		 height: 20px;
		 overflow: hidden;
		 display: inline-block;
		 cursor: pointer;
		 display: block�;
		 line-height:20px;
		 font-size:12px;
	 }
	 .product_list .box_list dl dd{
		 line-height:20px;
	 }
	 .product_list .box_list .box_02{
		 width:163px;
		 margin-top:1px;
	 }
	 .product_list .box_list .hidetips .t1{
		 color:#ff0000;
	 }
	 .product_list .box_list .showtips .t1{
		 color:yellow;
	 }
	 .product_list .box_list .showtips .box_t1{
		 color:#fff;
	 }
	 .product_list .box_list .showtips strong{
		 color:#fff;
	 }
	 .product_list .box_list .showtips .box_02 .btn_b_1{
		 background: yellow none repeat scroll 0% 0%;
         color: rgb(0, 0, 0);
	 }
	 .few{
		 font-weight:bold;
	 }
	 .product_list .box_list .box_02 .btn_b_1{
		 width: 65px;
		 height: 20px;
		 line-height: 19px;
		 display: block;
		 overflow: hidden;
		 color: #585858;
		 font-size: 12px;
		 text-align: center;
		 text-decoration: none;
		 font-family: '\5b8b\4f53';
		 background:url(../imgs/commens.png) no-repeat;
		 background-position:-403px 0;
		 color:#fff;
	 }
	 .product_list .box_list_01{
		 display:none;
		 position:relative;
		 z-index:10;
		 margin:0;
	 }
	 .product_list .box_list_01 .hidetips{
		 background-color:#fff;
	 }
	 .product_list .box_list_01 .showtips{
		 background-color:#d00e04;
		 border:1px solid #fcb6b3;
	 }
	 .product_list .box_list_01 .showtips .t1{
		 color:yellow;
	 }
	 .product_list .box_list_01 .showtips .box_t1{
		 color:#fff;
	 }
	 .product_list .box_list_01 .showtips strong{
		 color:#fff;
	 }
	 .product_list .box_list_01 .showtips .box_02 .btn_b_1{
		 background: yellow none repeat scroll 0% 0%;
         color: rgb(0, 0, 0);
	 }
	 .product_list .box_list_01 dl{
		 zoom: 1;
		 float: left;
		 width: 230px;
		 height: 80px;
		 display: block;
		 overflow: hidden;
		 padding: 10px;
		 margin: 10px auto;
		 border: 1px solid #fff;
		 _display: inline;
		 position: relative;
		 overflow:visible;
	 }
	 .product_list .box_list_01 dl dt{
		 float: left;
		 width: 76px;
		 height: 76px;
		 display: block;
		 border: 2px solid rgb(230, 230, 230);
		 position: relative;
		 overflow: visible;
	 }
	 .product_list .box_list_01 .hidetips strong{
		 color: #505050;
		 width: 140px;
		 height: 20px;
		 overflow: hidden;
		 display: inline-block;
		 cursor: pointer;
		 display: block�;
		 line-height:20px;
		 font-size:12px;
	 }
	 .product_list .box_list_01 dl dd{
		 line-height:20px;
	 }
	 .product_list .box_list_01 .box_02{
		 width:163px;
		 margin-top:1px;
	 }
	 .product_list .box_list_01 dl dd .t1{
		 color:#ff0000;
	 }
	 .few{
		 font-weight:bold;
	 }
	 .product_list .box_list_01 .box_02 .btn_b_1{
		 width: 65px;
		 height: 20px;
		 line-height: 19px;
		 display: block;
		 overflow: hidden;
		 color: #585858;
		 font-size: 12px;
		 text-align: center;
		 text-decoration: none;
		 font-family: '\5b8b\4f53';
		 background:url(../imgs/commens.png) no-repeat;
		 background-position:-403px 0;
		 color:#fff;
	 }
	 .product_list .box_list_02{
		 display:none;
		 position:relative;
		 z-index:10;
		 margin:0;
	 }
	 .product_list .box_list_02 .hidetips{
		 background-color:#fff;
	 }
	 .product_list .box_list_02 .showtips{
		 background-color:#d00e04;
		 border:1px solid #fcb6b3;
	 }
	 .product_list .box_list_02 .showtips .t1{
		 color:yellow;
	 }
	 .product_list .box_list_02 .showtips .box_t1{
		 color:#fff;
	 }
	 .product_list .box_list_02 .showtips strong{
		 color:#fff;
	 }
	 .product_list .box_list_02 .showtips .box_02 .btn_b_1{
		 background: yellow none repeat scroll 0% 0%;
         color: rgb(0, 0, 0);
	 }
	 .product_list .box_list_02 dl{
		 zoom: 1;
		 float: left;
		 width: 230px;
		 height: 80px;
		 display: block;
		 overflow: hidden;
		 padding: 10px;
		 margin: 10px auto;
		 border: 1px solid #fff;
		 _display: inline;
		 position: relative;
		 overflow:visible;
	 }
	 .product_list .box_list_02 dl dt{
		 float: left;
		 width: 76px;
		 height: 76px;
		 display: block;
		 border: 2px solid rgb(230, 230, 230);
		 position: relative;
		 overflow: visible;
	 }
	 .product_list .box_list_02 .hidetips strong{
		 color: #505050;
		 width: 140px;
		 height: 20px;
		 overflow: hidden;
		 display: inline-block;
		 cursor: pointer;
		 display: block�;
		 line-height:20px;
		 font-size:12px;
	 }
	 .product_list .box_list_02 dl dd{
		 line-height:20px;
	 }
	 .product_list .box_list_02 .box_02{
		 width:163px;
		 margin-top:1px;
	 }
	 .product_list .box_list_02 dl dd .t1{
		 color:#ff0000;
	 }
	 .few{
		 font-weight:bold;
	 }
	 .product_list .box_list_02 .box_02 .btn_b_1{
		 width: 65px;
		 height: 20px;
		 line-height: 19px;
		 display: block;
		 overflow: hidden;
		 color: #585858;
		 font-size: 12px;
		 text-align: center;
		 text-decoration: none;
		 font-family: '\5b8b\4f53';
		 background:url(../imgs/commens.png) no-repeat;
		 background-position:-403px 0;
		 color:#fff;
	 }
	 .deats_t{
		 background: #f9f9f9;
         height: 26px;
	 }
	 .deats_t a{
		 float: right;
		 color: #9a9a9a;
		 display: block;
		 height: 26px;
		 line-height: 26px;
		 padding: 0 20px 0 32px;
		 position: relative;
		 font-size:12px;
		 background:url(../imgs/icons.png) no-repeat;
	 }
	 .deats_t a.now{
		 background-position:0 -1430px;
	 }
	 .deats_t a.poats{
		 background-position:0 -1386px;
	 }
	 .deats_t a.hot{
		 background-position:0 -1364px;
	 }
	 .box_list dl .hidetips:hover{
		 background-color:#d00e04;
	 }
	 .m_t_16{
		 margin-top:16px;
	 }
	 .clear{
		 clear:both;
		 display:block;
	 }
	 .next_items .box_list1{
		 display:block;
		 position:relative;
		 z-index:10;
		 margin:0;
	 }
	 .next_items .box_list1 .hidetips{
		 background-color:#fff;
	 }
	  .next_items .box_list1 .showtips{
		 background-color:#d00e04;
		 border:1px solid #fcb6b3;
	 }
	 .next_items .box_list1 .showtips .t1{
		 color:yellow;
	 }
	 .next_items .box_list1 .showtips .box_t1{
		 color:#fff;
	 }
	 .next_items .box_list1 .showtips strong{
		 color:#fff;
	 }
	 .next_items .box_list1 .showtips .box_02 .btn_b_1{
		 background: yellow none repeat scroll 0% 0%;
         color: rgb(0, 0, 0);
	 }
	 .next_items .box_list1 dl{
		 zoom: 1;
		 float: left;
		 width: 230px;
		 height: 80px;
		 display: block;
		 overflow: hidden;
		 padding: 10px;
		 margin: 10px auto;
		 border: 1px solid #fff;
		 _display: inline;
		 position: relative;
		 overflow:visible;
	 }
	 .next_items .box_list1 dl dt{
		 float: left;
		 width: 76px;
		 height: 76px;
		 display: block;
		 border: 2px solid rgb(230, 230, 230);
		 position: relative;
		 overflow: visible;
	 }
	 .next_items .box_list1 .hidetips strong{
		 color: #505050;
		 width: 140px;
		 height: 20px;
		 overflow: hidden;
		 display: inline-block;
		 cursor: pointer;
		 display: block�;
		 line-height:20px;
		 font-size:12px;
	 }
	 .next_items .box_list1 dl dd{
		 line-height:20px;
	 }
	 .next_items .box_list1 .box_02{
		 width:163px;
		 margin-top:1px;
	 }
	 .next_items .box_list1 dl dd .t1{
		 color:#ff0000;
	 }
	 .few{
		 font-weight:bold;
	 }
	 .next_items .box_list1 .box_02 .btn_b_1{
		 width: 65px;
		 height: 20px;
		 line-height: 19px;
		 display: block;
		 overflow: hidden;
		 color: #585858;
		 font-size: 12px;
		 text-align: center;
		 text-decoration: none;
		 font-family: '\5b8b\4f53';
		 background:url(../imgs/commens.png) no-repeat;
		 background-position:-403px 0;
		 color:#fff;
	 }
	 .buy_box li{
		 width: 180px;
		 float: left;
		 display: block;
		 margin-right: 3px;
		 margin-top: 10px;
		 border: 2px solid #fff;
		 list-style:none;
	 }
	 .buy_box .border_white{
		 border-color:#fff;
	 }
	 .buy_box li{
		 width: 180px;
		 float: left;
		 display: block;
		 margin-right: 3px;
		 margin-top: 10px;
		 border: 2px solid #999;
		 list-style:none;
	 }
	 .time{
		 width: 180px;
		 height: 35px;
		 border-bottom: 1px dotted #e0e0e0;
		 border-top: 1px solid #e0e0e0;
		 background-color: #fff;
		 background: url(../imgs/comm_icos.png) no-repeat;
		 background-position: 5px -70px;
		 line-height: 33px;
		 text-indent: 25px;
		 margin: 0 auto;
		 position:relative;
	 }
	 .buy_sub1{
		 width: 180px;
		 background-color: #fff;
		 text-align: center;
	 }
	 .pr{
		 position:relative;
	 }
	 .buy_sub1 img{
		 border: 2px solid #d2d2d2;
         margin: 5px 50px;
	 }
	 .buy_box .ico{
		 width: 41px;
		 height: 44px;
		 background:url(../imgs/comm_bgs.png) no-repeat;
		 background-position: -522px -122px;
		 left: 115px;
		 top: 2px;
		 text-align: center;
		 color: #fff;
		 font-size: 12px;
		 font-weight: normal;
	 }
	 .pa{
		 position:absolute;
	 }
	 .buy_sub1 p{
		 font-size: 14px;
		 font-weight: bold;
		 color: #535353;
		 clear: both;
	 }
	 .buy_sub2{
		 background-color: #e8e8e8;
         padding: 5px;
	 }
	 .buy_sub2 p{
		 text-align: center;
		 font-weight: bold;
		 line-height: 20px;
		 height: 20px;
		 font-size:12px;
		 font-style:normal;
	 }
	 .buy_sub2 p .old_price{
		 font-weight: normal;
         text-decoration: line-through;
	 }
	 .font_ret_b{
		 color: #de1407;
         font-weight: bold;
	 }
	 .buy_sub2 p span em{
		 font-size: 20px;
         margin: 0 3px;
		 font-style:normal;
	 }
	 .btn_buy{
		 width: 72px;
		 height: 26px;
		 background:url(../imgs/comm_icos.png) no-repeat;
		 background-position: 0 -165px;
		 display: block;
		 margin: 5px auto 0;
	 }
	 .ht{
		 text-indent: -999em;
         overflow: hidden;
	 }
	 .clear{
		 display:block;
		 clear:both;
	 }
	 .event_box li{
		 width: 369px;
         margin-top: 10px;
		 list-style:none;
	 }
	 .1{
		 float:left;
	 }
	 .event_box li img{
		 border: 2px solid #fff;
	 }
	 .event_box li div p{
		 line-height: 29px;
         padding-left: 5px;
		 font-size:14px;
		 color:#666;
	 }
	 .1{
		 float:left;
	 }
	 .btn_event_view{
		 width: 98px;
		 height: 21px;
		 display: block;
		 background:url(../imgs/comm_icos.png) no-repeat;
		 background-position: 0 -241px;
		 margin-top: 4px;
		 margin-right: 2px;
	 }
	 .ht{
		 text-indent: -999em;
         overflow: hidden;
	 }
	 .r{
		 float:right;
	 }
	 .time .timees{
		 height:30px;
		 width:158px;
		 
		 position:absolute;
		 left:14px;
		 top:0px;
	 }
	 .time .timees #t_d{
		 margin-left:-43px;
	 }
	 .time .timees span{
		 font-size:12px;
		 margin-right:0px;
	 }
	 .bx_top{
		 margin:0;
	 }
	 .clear{
		 display:block;
		 clear:both;
	 }
	 .loading_panel{
		 background:url(../imgs/loadings.gif) no-repeat center;
		 height: 22px;
		 line-height: 22px;
		 position: absolute;
		 width: 210px;
	 }
	 .clear{
		 display:block;
		 clear:both;
	 }
	 .bx_top_big dl{
		 padding:18px 10px 0px 10px;
	 }
	 .bx_top_big dl dt{
		 float: right;
		 width: 80px;
		 height: 80px;
		 display: block;
		 overflow: hidden;
	 }
	 .bx_top_big dl dd{
		 float: left;
		 width: 110px;
		 line-height: 22px;
	 }
	 .icon1{
		 background:url(../imgs/icons.png) no-repeat 0 -9999px;
		 background-position: 0 -500px;
		 width: 59px;
		 height:36px;
		 display: block;
		 color: #ffffff;
		 font-size: 25px;
		 padding: 10px 0 0 22px;
		 font-family: "Verdana";
		 font-weight: bold;
	 }
	 .few{
		 font-weight:bold;
	 }
	 .bx_top_big dl dd a{
		 text-decoration: none;
         color: #505050;
	 }
	 .bx_top_big_3{
		 clear: left;
		 height: 22px;
		 line-height: 22px;
		 padding: 0 10px;
		 display: block;
		 overflow: hidden;
		 color: #666;
		 margin-top: -12px;
	 }
	 .bx_top_big_4{
		 background: #f3f3f3;
		 height: 22px;
		 line-height: 22px;
		 padding: 0 10px;
		 display: block;
		 overflow: hidden;
		 color: #e30000;
	 }
	 .bx_top_small{
		 padding: 8px 20px 8px 34px;
		 height: 40px;
		 position: relative;
		 border-bottom: 1px solid #cccccc;
	 }
	 .clear{
		 display:block;
		 clear:both;
	 }
	 .bx_top_small dl{
		 zoom: 1;
         line-height: 20px;
	 }
	 .bx_top_small dl dt{
		 float: right;
         width: 40px;
	 }
	 .bx_top_small dl dd{
		 float:left;
	 }
	 .bx_top_small .icon2{
		 position: absolute;
		 top: 8px;
		 left: 8px;
		 background:url(../imgs/icons.png) no-repeat 0 -9999px;
		 background-position: 0 -50px;
		 width: 21px;
		 height: 22px;
		 display: block;
		 color: #ffffff;
		 font-size: 12px;
		 font-family: "Verdana";
		 font-weight: bold;
		 text-align: center;
	 }
	 .bx_qa_o{
		 padding-top: 30px;
		 width: 1000px;
		 margin: 0 auto;
		 z-index: 10;
	 }
	 .bx_qa_o .bx_qa{
		 /*background:url(../imgs/bg1.png) no-repeat;*/
		 border: 1px solid #cfcfcf;
         padding: 16px 30px;
	 }
	 .bx_qa_t1{
		 float: left;
         width: 230px;
	 }
	 .bx_qa_title01{
		 background:url(../imgs/icons.png) no-repeat;
		 background-position:0 -346px;
		 height: 34px;
		 line-height: 34px;
		 padding-left: 32px;
		 color: #262626;
		 font-size: 18px;
		 font-family: "Microsoft YaHei";
		 font-weight: normal;
	 }
	 .bx_qa_title02{
		 background:url(../imgs/icons.png) no-repeat;
		 background-position:0 -394px;
		 height: 34px;
		 line-height: 34px;
		 padding-left: 32px;
		 color: #262626;
		 font-size: 18px;
		 font-family: "Microsoft YaHei";
		 font-weight: normal;
	 }
	 .bx_qa_title03{
		 background:url(../imgs/icons.png) no-repeat;
		 background-position:0 -445px;
		 height: 34px;
		 line-height: 34px;
		 padding-left: 32px;
		 color: #262626;
		 font-size: 18px;
		 font-family: "Microsoft YaHei";
		 font-weight: normal;
	 }
	 .bx_qa_ul{
		 margin-top:6px;
	 }
	 .bx_qa_ul li{
		 float: left;
		 width: 92px;
		 height: 26px;
		 display: block;
		 overflow: hidden;
	 }
	 .btn_c{
		 background:url(../imgs/commens.png) no-repeat 0 -9999px;
		 background-position: 0 0;
         width: 83px;
		 height: 22px;
		 line-height: 22px;
		 display: block;
		 overflow: hidden;
		 color: #5a5a5a;
		 font-size: 12px;
		 text-align: center;
		 text-decoration: none;
	 }
	
	  .ks_box{
		  float: left;
		  width: 235px;
		  height: 100px;
		  position: relative;
	  }
	  .ks_box a{
		  display: block;
		  width: 180px;
		  height: 40px;
		  position: absolute;
		  top: 7px;
		  left: 49px;
	  }
	  #footer_ied{
		  background: #ffffff;
		  padding: 10px 0 60px 0;
		  color: #000000;
		  text-align: center;
		  line-height: 19px;
		  font-family: Tahoma;
		  font-size: 12px;
		  margin-top: 16px;
		  border-top: 5px solid #de0707;
	  }
	  #footer_ied .wrap_ied{
		  width: 1000px;
		  margin: 0 auto;
	  }
	  #footer_ied a{
		  color: #000000;
		  text-decoration: none;
	  }
	  #footer_ied p .e{
		  font-size: 10px;
	  }
	  .location_box {
		height: 30px;
		line-height: 30px;
		display: block;
		clear: both;
		font-family: "Microsoft YaHei";
	}
	.location_box a {
		margin: 0 5px;
		color: #535353;
	}
	.m_t_8 {
		margin-top: 8px;
	}
	.cart_list_table {
		width: 100%;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.cart_list_table thead th {
		font-weight: 800;
	}
	.cart_list_table thead th {
		font-weight: normal;
		border-top: 2px solid #c60000;
		background-color: #e6e6e6;
	}
	.cart_list_table th, .cart_list_table td {
		padding: 8px 0;
		vertical-align: middle;
		word-break: break-all;
	}
	.cart_total_box {
		min-height: 34px;
		_height: 34px;
		line-height: 34px;
		border: 1px solid #DEDFDE;
		background-color: #f3f3f3;
	}
	.l {
		float: left;
	}
	.font_blue {
		color: #0079bd;
	}
	.cart_total_box {
		line-height: 34px;
	}
	.m_r_5 {
		margin-right: 5px;
	}
	.r {
		float: right;
	}
	.font_s14 {
		font-size: 14px;
	}
	.font_red_b {
		color: #de1407;
		font-weight: bold;
	}
	.m_r_5 {
		margin-right: 5px;
	}
	.cart_payment_box_none {
		border: none;
	}
	.m_t_16 {
		margin-top: 16px;
	}
	.title05 {
		height: 24px;
		line-height: 24px;
		border-bottom: 2px solid #cc0000;
		border-top: 1px solid #f3f3f3;
		background: #f8f8f8;
		padding: 0 12px;
	}
	.noticket {
		padding: 9px 9px;
		line-height: 17px;
	}
	.noticket .red {
		color: #de1407;
		padding: 0 10px 0 3px;
	}
	.discount_info .xy-yhq {
		width: 998px;
		height: 48px;
		border: 1px solid #DEDFDE;
		margin-top: 15px;
		line-height: 48px;
	}
	.discount_info .xy-yhq .receive {
		float: left;
		width: auto;
		padding-left: 38px;
		position: relative;
	}
	.discount_info .xy-yhq .receive .xyicon {
		position: absolute;
		top: 11px;
		left: 5px;
		width: 25px;
		height: 25px;
		background: url(../imgs/icone.png) no-repeat;
		background-position: -44px -542px;
	}
	.discount_info .xy-yhq .receive .red {
		color: #de1407;
	}
	.discount_info .xy-yhq .lqbtn {
		display: inline-block;
		background: #f74a4a;
		color: #fff;
		border-bottom: 2px solid #e43333;
		text-align: center;
		cursor: pointer;
		width: 90px;
		height: 25px;
		line-height: 26px;
		overflow: hidden;
		border-radius: 0;
		margin: 12px 0 0 10px;
	}
	.discount_info .xy-yhq .black {
		color: #505050;
		margin-right: 5px;
		display: inline-block;
	}
	.discount_info .tcon {
		margin-top: 15px;
	}
	.discount_info .tcon a {
		color: #505050;
	}
	.discount_info .tcon a s.minus {
		background-position: 0 -718px;
	}
	.discount_info .tcon a s {
		float: left;
		width: 12px;
		height: 12px;
		background: url(../imgs/comm_icos.png) no-repeat -61px -718px;
		overflow: hidden;
		margin: 5px 5px 0 0;
	}
	.font_red {
		color: #de1407;
	}
	.discount_info .tcon a.link {
		color: #0079bd;
		margin-left: 10px;
		text-decoration: underline;
		font-weight: 400;
	}
	.noticket {
		padding: 9px 9px;
		line-height: 17px;
	}
	.noticket .ico-tips {
		display: block;
		width: 16px;
		height: 17px;
		background: url(../imgs/coupons.png) no-repeat;
		background-position: 0 -162px;
		margin-right: 9px;
	}
	.noticket .red {
		color: #de1407;
		padding: 0 10px 0 3px;
	}
	.discount_info .tcon {
		margin-top: 15px;
	}
	.discount_info .tcon a {
		color: #505050;
	}
	.discount_info .tcon a s {
		float: left;
		width: 12px;
		height: 12px;
		background: url(../imgs/comm_icos.png) no-repeat -61px -718px;
		overflow: hidden;
		margin: 5px 5px 0 0;
	}
	.font_red {
		color: #de1407;
	}
	.discount_info .tcon a.link {
		color: #0079bd;
		margin-left: 10px;
		text-decoration: underline;
		font-weight: 400;
	}
	.discount_info .gwd {
		border: 1px solid #dedfde;
		background: #f9f9f9;
		padding: 5px 17px;
		margin-top: 10px;
	}
	.discount_info .gwd p {
		margin: 0;
	}
	.cart_payment_box p {
		height: 31px;
		line-height: 30px;
		margin-left: 160px;
	}
	 b {
		font-style: normal;
	}
	.discount_info .gwd .input {
		border: 1px solid #ccc;
		width: 80px;
		height: 20px;
		line-height: 20px;
		margin: 0 5px;
		text-align: center;
	}
	.discount_info .btn {
		display: inline-block;
		background: #ee0000;
		height: 22px;
		line-height: 20px;
		border-radius: 3px;
		width: 60px;
		text-align: center;
		color: #fff;
		margin: 4px 0 0 10px;
	}
	.c::after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.cart_payment_box_none {
		border: none;
	}
	.m_t_24 {
		margin-top: 24px;
	}
	.pay_group {
		padding-bottom: 10px;
	}
	.cart_payment_box .role .label {
		width: auto;
		margin-left: 12px;
		display: inline;
	}
	.pay_group .label {
		width: 160px;
		float: left;
		text-align: right;
		padding-top: 8px;
	}
	.cart_payment_box .role ul {
		margin-left: 95px;
	}
	.cart_payment_box ul li {
		float: left;
		min-width: 160px;
		_margin-right: 20px;
	}
	.cart_payment_box ul li select {
		margin-right: 10px;
		height: 30px;
		line-height: 30px;
		padding: 4px 6px;
		width: 175px;
		border: 1px solid #ccc;
		vertical-align: middle;
	}
	select{
		font-size: 100%;
        outline: none;
	}
	.cart_t1 {
		background: #fffeee;
		border: 1px solid #ffdbdb;
		height: 40px;
		line-height: 40px;
		display: block;
		overflow: hidden;
		padding: 0 32px;
		color: #505050;
		font-size: 16px;
		text-align: right;
	}
	.m_t_8 {
		margin-top: 8px;
	}
	.font_red_b {
		color: #de1407;
		font-weight: bold;
	}
	.confirm_bar {
		margin: 20px 0;
		text-align: right;
		height: 39px;
	}
	.btn_confirm {
		display: block;
		width: 121px;
		height: 39px;
		background: url(../imgs/comm_icos.png) no-repeat 0 -2222px;
		text-align: left;
		float: right;
	}
	.ht {
		text-indent: -999em;
		overflow: hidden;
	}
	.cart_payment_rules {
		width: 100%;
		border: 1px solid #ffdbdb;
		padding-bottom: 20px;
	}
	.cart_payment_rules_title {
		width: 77px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		margin: 20px 10px 10px 40px;
	}
	.fwb {
		font-weight: bold;
	}
	ol {
		padding: 0;
		list-style: none;
	}
	.cart_payment_rules ol li {
		list-style: inside decimal;
		padding: 2px 45px;
	}
	.cart_other_box {
		padding: 30px 0;
	}
	.title_box {
		background: url(../imgs/solid.png) repeat-x left bottom;
		height: 31px;
		position: relative;
		z-index: 3;
		font-weight: bold;
		font-size: 14px;
		font-family: "Microsoft YaHei";
		padding-left: 30px;
	}
	ul {
		list-style: none;
	}
	.cart_other_box ul li {
		float: left;
		text-align: center;
		margin: 0 19px;
		display: inline;
	}
	.title_box li {
		float: left;
		margin: 0 5px 0 0;
		height: 31px;
	}
	.title_box_dl {
		width: 960px;
		margin: 0 auto;
	}
	.title_box_dl dl {
		float: left;
		width: 210px;
		margin: 15px;
		_display: inline;
	}
	.title_box_dl dt {
		float: left;
		width: 80px;
		height: 80px;
		display: block;
		overflow: hidden;
	}
	.title_box_dl dt a {
		width: 80px;
		height: 80px;
		display: block;
		overflow: hidden;
	}
	.title_box_dl dd {
		float: right;
		width: 116px;
		line-height: 22px;
		color: #564e4c;
	}
	.title_box_dl dd strong {
		height: 22px;
		width: 112px;
		display: inline-block;
		overflow: hidden;
	}
	.font_s14 {
		font-size: 14px;
	}
	.cover_backss{
	  width:100%;
	  height:100%;
	  background-color:#fff;
	  filter:alpha(opacity=70);
	  opacity:0.7;
	}
	.cover_sork{
	  display:none;
	  width:622px;
	  height:368px;
	  position:fixed;
	  left:350px;
	  top:100px;
      background-color:#fff;
	  z-index:10;
	}
	.chook{
	  width:133px;
	  height:133px;
	  position:absolute;
	  left:40%;
	  top:44%;
	  background-color:#c33;
	  border:1px solid #333;
	}
	.cook_vs{
	  width:618px;
	  height:27px;
	  font-size: 20px;
	  color: #333;
	  text-align: center;
	  margin-bottom: 16px;
	  padding-top:48px;
	}
	.cook_av{
	  width:618px;
	  height:42px;
	  color: #666;
	  font-size: 16px;
	  text-align: center;
	  position: relative;
	  margin-bottom: 36px;
	  zoom: 1;
	}
	.reat_x{
	  color: #3481cf;
	}
	.reat_t{
	  width:618px;
	  height:16px;
	  position:absolute;
	  left:0;
	  bottom:10px;
	  text-align:right;
	}
	.unik{
	   color:#666;
	}
	.bounk{
	   color: #bfbfbf;
       margin: 0 5px;
	}
	.reat_t a:hover{
	   text-decoration: underline;
	}
	.close_s{
		height: 50px;
		width: 50px;
		position: absolute;
		top: 0;
		right: 0;
		font-family: "微软雅黑";
		z-index: 1;
	}
	.close_b{
		width: 47px;
		height: 20px;
		float: right;
		background: url(../imgs/icon_3_tiny.png) -221px -126px no-repeat;
		outline: 0;
	}
.gift-items{
		display:none;
	}
.cover_sorkt{
		display:none;
		position:fixed;
		left:350px;
		top:100px;
		width:622px;
	    height:368px;
		background:#fff;
		z-index:10;
}
.cover_sorkt.activee{
		display:block;
}
.login_form .uinArea {
    height: 55px;
    position: relative;
    z-index: 10;
}
.inputOuter {
    width: 272px;
    height: 42px;
    background: url(../imgs/icon_3_tiny.png) -1px -1px no-repeat;
	text-align: center;
	position: absolute;
	left: 177px;
	top: 0;
}
.inputstyle {
    width: 258px;
    position: relative;
    top: 2px;
    left: 2px;
    height: 18px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
    border: none;
    background: 0 0;
    color: #333;
    font-family: Verdana,Tahoma,Arial;
    font-size: 16px;
}
.pwdArea {
    height: 55px;
    position: relative;
    z-index: 3;
}
.inputOuter {
    width: 272px;
    height: 42px;
    background: url(../imgs/icon_3_tiny.png) -1px -1px no-repeat;
}
.submit {
    position: absolute;
    height: 40px;
    background-color: #86ce2f;
	width:272px;
	left:177px;
}
.login_button {
    position: absolute;
    left: 0;
    outline: 0;
    width: 100%;
}
.login_button .btn {
    width: 100%;
    height: 40px;
    line-height: 35px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    background: 0 0;
    cursor: pointer;
}
.username{
    position: absolute;
    left: 108px;
    top: 12px;
    font-size: 17px;
}
.cart_minus {
	background: url(../imgs/comm_icos.png) no-repeat;
	display: block;
	float: left;
	margin: 0 5px;
	height: 20px;
}
.cart_minus {
    background-position: 0 -713px;
    width: 12px;
    margin-top: 5px;
}
.cart_amount {
    background: url(../imgs/comm_icos.png) no-repeat;
    display: block;
    float: left;
    margin: 0 5px;
    height: 20px;
}
.tac {
    text-align: center;
}
.cart_amount {
    background-position: -18px -713px;
    width: 36px;
    border: none;
}
.cart_list_table input{
    vertical-align: -2px;
    margin-top: 5px;
}
.cart_plus {
    background: url(../imgs/comm_icos.png) no-repeat;
    display: block;
    float: left;
    margin: 0 5px;
    height: 20px;
}
.cart_plus {
    background-position: -60px -713px;
    width: 12px;
    margin-top: 5px;
}