.boxy-wrapper {
	position: absolute;
}
.boxy-wrapper.fixed {
	position: fixed;
}
/* Modal */

.boxy-modal-blackout {
	position: absolute;
	background-color: #ffffff;
	left: 0;
	top: 0;
	opacity: 0;
}
/* Border */

.boxy-wrapper {
	empty-cells: show;
}
.boxy-wrapper .boxy-top-left, .boxy-wrapper .boxy-top-right, .boxy-wrapper .boxy-bottom-right, .boxy-wrapper .boxy-bottom-left {
	width: 8px;
	height: 8px;
	padding: 0;
	background: none repeat scroll 0 0 #000000;
    opacity: 0.2;
    overflow: hidden;
    filter:alpha(opacity=20)
}
:root .boxy-wrapper .boxy-top-left{
	border-radius: 8px 0 0 0;
}
:root .boxy-wrapper .boxy-top-right {
	border-radius: 0 8px 0 0;
}
:root .boxy-wrapper .boxy-bottom-right {
	border-radius: 0 0 8px 0;
}
:root .boxy-wrapper .boxy-bottom-left {
	border-radius: 0 0 0 8px;
}
/* IE6-8 hacks for the border. IE7+8 should support this natively but fails in conjuction with modal blackout bg. */
/* NB: these must be absolute paths or URLs to your images 
.boxy-wrapper .boxy-top-left {#filter:
	progid: DXImageTransform .Microsoft.AlphaImageLoader(src='/images/boxy-nw.png');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-nw.png')";
}
.boxy-wrapper .boxy-top-right {#filter:
	progid: DXImageTransform .Microsoft.AlphaImageLoader(src='/images/boxy-ne.png');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-ne.png')";
}
.boxy-wrapper .boxy-bottom-right {#filter:
	progid: DXImageTransform .Microsoft.AlphaImageLoader(src='/images/boxy-se.png');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-se.png')";
}

.boxy-wrapper .boxy-bottom-left {#filter:
	progid: DXImageTransform .Microsoft.AlphaImageLoader(src='/images/boxy-sw.png');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-sw.png')";
}
*/
.boxy-wrapper .boxy-top, .boxy-wrapper .boxy-bottom {
	height: 8px;
	background-color: black;
	opacity: 0.2;
	filter: alpha(opacity=20);
	padding: 0
}
.boxy-wrapper .boxy-left, .boxy-wrapper .boxy-right {
	width: 8px;
	background-color: black;
	opacity: 0.2;
	filter: alpha(opacity=20);
	padding: 0
}
/* Title bar */

.boxy-wrapper .title-bar {
	background-color: #ffffff;
	cursor: move;
	padding: 6px;
	position: relative;
}
.boxy-wrapper .title-bar.dragging {
	cursor: move;
}
.boxy-wrapper .title-bar h2 {
	font-size: 14px;
	color: #336699;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: normal;
	height:20px;
	line-height:20px;
	padding:2px 5px 8px;
	font-weight:bold;
}
.boxy-wrapper .title-bar .close {
	color: #000000;
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 90%;
	height:20px;
	margin: 2px 5px 0 0;
	line-height:20px;
	background: url("images/cls.gif") no-repeat scroll 0 0 transparent;
	width:20px;
	overflow:hidden;
}

.boxy-wrapper .title-bar .close:hover{
	background-position: 0 -20px;
}
/* Content Region */

.boxy-inner {
	overflow: hidden;
	background-color: white;
	padding: 0
}
.boxy-content {
	padding: 15px;
}
/* Question Boxes */

.boxy-wrapper .question {
	width: 350px;
	min-height: 80px;
}
.boxy-wrapper .answers {
	text-align: right;
}
/*  |xGv00|c60bb8f2819a3694423772ec21543f02 */